@font-face {
	font-family: 'Malahit Bold';
	src: url('../assets/fonts/malahit_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../assets/fonts/malahit_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../assets/fonts/malahit_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../assets/fonts/malahit_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../assets/fonts/malahit_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../assets/fonts/malahit_bold.svg#malahit_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

.container {
    display: flex;
    font-family: "Malahit Bold";
    flex-direction: column;
    align-items: center;
}



.container img {
    width: 300px;
}
.mag {
	background-color: black;
	color: white;
}